.breadcrumbs {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
 
.breadcrumbs__item {
    display: inline-block;
}
 
.breadcrumbs__item:not(:last-of-type)::after {
    content: '\203a';
    margin: 0 5px;
    color: #cccccc;
}
 
.breadcrumbs__link {
    text-decoration: none;
    color: #999999;
}
 
.breadcrumbs__link:hover {
    text-decoration: underline;
}
 
.breadcrumbs__link--active {
    color: #009578;
    font-weight: 500; 
}
 