*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bedfe8;
}
.accordion
{
    width: 800px;   
}
.accordion .contentBx
{
    position: relative;
    margin: 10px 20px;
}
.accordion .contentBx .label
{
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
}
.accordion .contentBx .label::before
{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;

}
.accordion .contentBx.active .label::before
{
    content: '-';
}
.accordion .contentBx .content
{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx.active .content
{
    height: 150px;
    padding: 10px;
}