* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100px;
    max-height: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #313131;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 400px;
    padding: 20px;
    margin: 20px;
    background: #3f3f3f;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #17e78c;
    border-right: 20px solid #17e78c;
}
.container .card.active::before {
    border-top: 20px solid #ff3b7e;
    border-right: 20px solid #ff3b7e;
}

.container .card .icon {
    margin-bottom: 10px;
}

.container .card .icon img {
    max-width: 90px;
}

.container .card .content {
    position: relative;
    height: 215px;
    overflow: hidden;
}
.container .card.active .content {
    height: auto;
}

.container .card .content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f)    
}
.container .card.active .content::before {
    display: none;
}

.container .card .content h3 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.container .card .content p {
    font-weight: 300;
    color: #ccc;
}

.container .card .more {
    position: relative;
    padding: 10px 15px;
    background: #17e78c;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #383838;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.container .card .more::before {
    content: 'Read more';
}
.container .card.active .more {
    background: #ff3b7e;
    color: #fff;
}
.container .card.active .more::before {
    content: 'Read less';
}