* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;
}
.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}
.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
}
.score {
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}
.playground > ul {
    border: 1px solid #333;
    width: 250px;
    margin: 0 auto;
}
.playground > ul > li {
    width: 100%;
    height: 25px;
}
.playground > ul > li > ul {
    display: flex;
}
.playground > ul > li > ul > li {
    width: 25px;
    height: 25px;
    outline: 1px solid #ccc; 
}
.tree {
    background: #67c23a;
}
.bar {
    background: salmon;
}
.elLeft {
    background: #8e44ad;
}
.elRight {
    background: #16a085
}
.square {
    background: #333;
}