* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    min-height: 100vh;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: url(img/aim.png), pointer;
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
}

span {
    position: absolute;
    width: 40px;
    height: 38px;
    background: url(img/hole.png);
    pointer-events: none;
    transform: translate(28px, 28px);
}