* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #111;
}

section .box {
    position: relative;
    width: 200px;
    height: 200px;
    background: #f00;
    margin: 10px; 
    overflow: hidden;
}

section .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

section .box .imgBx.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

section .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .box .imgBx.active img {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
}

section .box .imgBx h2 {
    opacity: 0;
    visibility: hidden;
}

section .box .imgBx.active h2 {
    opacity: 1;
    visibility: visible;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 4px;
}

section .box .imgBx .content {
    position: absolute;
    bottom: 50px;
    right: 50px;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #fff;
    transform: translateY(100%);
}

section .box .imgBx.active .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s;
}

section .box .imgBx .content h3 {
    font-size: 24px;
    font-weight: 600;
}