* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100%;
    min-heighT: 100vh;
    padding: 100px;
    background: #fff;
}

section h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
}

#cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: width 0.5s, height 0.5s;
}

#cursor:active {
    width: 3200px;
    height: 3200px;
    transition: width 4s, height 4s;
}

#cursor:before  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

#cursor:after  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background: #000;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

#cursor:active:before,
#cursor:active:after {
    opacity: 1;
}