* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f8f8;
}

.inputBox {
    position: relative;
    width: 400px;
    height: 60px;
}

.inputBox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 20px;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                inset 4px 4px 10px rgba(0,0,0,0.05),
                inset -4px -4px 10px rgba(255,255,255,1),
                4px 4px 10px rgba(0,0,0,0.05)
}

.inputBox input::placeholder {
    color: #ccc;
}

#toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 36px;
    height: 30px;
    background: url(show.png);
    background-size: cover;
    cursor: pointer;
}

#toggle.hide {
    background: url(hide.png);
    background-size: cover;
}